html, body {
	margin: 0;
	padding: 0;
	font-family:  "Open sans","Lato", "HelveticaNeue-Light", "Helvetica Neue Light", Arial;
}

hr {
	width: 100%;
	color: #cbcbcb;
	border: none;
	height: 1px;
	background-color: #cbcbcb;
	margin-left: 30px;
	margin-right: 30px;
}

#headerbar {
	height: 90px;
	width: 95%;
	text-align: right;
	font-size: 20px;
	line-height: 90px;
	margin: 0 auto;
}

#headerimage {
	width: 100%;
	height: 800px;
	background-image: url('images/headerimage.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

#headeroverlay {
	width: 100%;
	height: 100%;
	background-color: black;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

.headerlink {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.headerlink:hover {
	opacity: 0.8;
}


#headertext {
	height: 100px;
	width: 90%;
	color: white;
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	line-height: 100px;
}

#specialheadertext {
	font-size: 30px;
	margin-top: 150px;
	margin-bottom: -100px;
	font-weight: normal;
}

#headerbuttons {
	width: 460px;
	height: 100px;
	margin: 0 auto;
	margin-top: 120px;
}

.headerbutton {
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition:.2s;
}

#github {
	width: 70px;
	height: 70px;
	background-image: url("images/github.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50px;
	display: inline-block;
	margin: 20px;
}

#medium {
	width: 70px;
	height: 70px;
	background-image: url("images/medium.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50px;
	display: inline-block;
	margin: 20px;
}

#linkedin {
	width: 70px;
	height: 70px;
	background-image: url("images/linkedin.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50px;
	display: inline-block;
	margin: 20px;
}

#resume {
	width: 70px;
	height: 70px;
	background-image: url("images/resume.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50px;
	display: inline-block;
	margin: 20px;
}

.headerbutton:hover {
	-webkit-filter: invert(1);
   filter: invert(1);
}

#space {
	height: 100px;
	width: 100%;
}

.frontsection {
	text-align: left;
	font-size: 20px;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
}

.sectiontitle {
	font-size: 40px;
	font-family: Georgia;
	text-align: center;
}

#portrait {
	width: 100px;
	height: auto;
	margin-top: -120px;
	border-radius: 50px;
	position: relative;
	float: left;
	z-index: 3;
}

#specialfrontsection {
	width: 825px;
	height: 660px;
	margin: 0 auto;
}

.projectwrapper {
	background-color: black;
    opacity: 0;
	width: 100%;
	height: 100%;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	transition:.3s;
  	display: inline-block;
  	border-radius: 5px;
}

.projectwrapper:hover {
	opacity: 0.7;
}

.projects {
	width: 250px;
	height: 250px;
	margin: 10px;
	border-radius: 5px;
}

#project1 {
	background-image: url("images/maps.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

#project2 {
	background-image: url("images/maps.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

#project3 {
	background-image: url("images/maps.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

.innerproject {
	width: 100%;
	height: 50px;
	color: white;
	text-align: center;
	font-size: 45px;
	font-style: bolder;
}

.projectlinks {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

#contactme {
	height: 100px;
	width: 100%;
	background-color: #444444;
}

#bottom {
	height: 300px;
	width: 100%;
	background-color: #1d1d1d;
}